/*
Stylesheet for jQuery Picture Slideshow plugin
By Brian Morgan
*/
.img-slider {
	width: 250px;
	height: 250px;
	position: relative;
	margin: 10px auto;
}

.img-slider .slide {
	display: none;
	position: absolute;
}
